/* Loubana */
.clear{
    clear:both;
}
header{
    background-color: rgb(126, 123, 123);
    overflow: auto;
}
header ul{
    list-style: none;
    float:right;
    margin-top: 1.75em;
}
header div{
    width: 70%;
    margin: 0 auto;

}
header ul li{
    float:left;
    padding:0.010em 0.75em;
}
header a {
    text-decoration: none;
    color: white;
}
header ul a.menue{
    display: none;
}


.wrapper{
    background: url("../img/1.png") no-repeat;
    background-size: cover;
    background-color: gray;
    text-align: center;
    color:white;
    padding: 7em 0;
}
.wrapper div{
    margin:0 auto;
    width:70%;
}
.wrapper #iimg {
    display: flex;
    justify-content: center;
}
.wrapper #iimg span {
    align-self: center;}

.wrapper img{
    width: 5em;
    height: 5em;
    padding: 0.5em;
}
.wrapper .sp{
    background-color: rgb(4, 199, 30);
    display: inline-block;
    padding: 10px 50px;
}
.wrapper h1{
    font-size: 6.25em;
}
.wrapper h1 span{
    color: rgb(4, 199, 30);
}




divgreen{
    display: flex;
    justify-content: space-around;
    background-color: rgb(4, 199, 30);
    text-align: center;
    color:white;
    padding:20px 15%;
}
divgreen img{
    height: 50px;}
divgreen h2{
    font-size:20px;
    }
divgreen p{
    font-size:10px;
    }
divgreen section{
    padding-left: 20px;
}
divgreen hr.down{
    display: none;
}
/* Manal */


/* Recep */